@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
body{
  margin: 0;
  font-family: 'Comfortaa', cursive;
}
.header{
  position: sticky;
  top: 0;
  z-index: 5;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  background: white;
}
.header h1{
  margin: 0;
  font-size: 28px;
  color: #3399cc;
}
.header2{
  position: absolute;
  top: 0;
}
.fondo{
  position: relative;
  z-index: 1;
  width: calc(100vw - 18px) ;
}
.modems{
  position: relative;
  top: 600px;
}