@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body{
  font-family: 'Comfortaa', cursive;
    overflow-x: hidden;
}

.carrusel
{
    padding: 0;
    margin: 0;
    border: 0;

}

.page-section {
  width: 100%;
  min-height: 800px;
  padding: 0px 0;
  border-bottom: 10px solid #fff;
}
.page-section.intro {
  min-height: 600px;
  width: 100%;
}

@media (min-width: 768px) {
  .header .navbar-brand {
    padding-left: 0;
  }
  .navbar-nav {
    float: right;
  }
}
@media (max-width: 480px) {
  .page-section h1 {
    font-size: 3em;
  }
  .page-section h2 {
    font-size: 2em;
  }
  .page-section p {
    font-size: 1em;
    margin: 0 0 20px;
  }
}




/* ------------------- CABECERA INICIO ------------------ */

.barra{
	background-color: white;
	height: 65px;
}

/*
.contenedorinicio{
	width: 100%;
	background-size: 100%;
}
*/
.logo{
	margin-top: 7px;
	margin-left: 10px;
}

.nombreApp
/*nombre aplicacion, cabecera*/
{
	font-family: 'Comfortaa', cursive;
	font-size: 28px;
	color:#3399cc;

}

.panellogin
/*panel del formulario de inicio sesion*/
{
	border-radius: 2px !important;
	border-color: #3399cc !important;
}

/* ------------------- FIN CABECERA INICIO ------------------ */

/* ------------------- INICIO FORMULARIO ------------------ */

.panelloginhead 
/*cabecera del formulario de inicio sesion*/
{
	background-color: #3399cc !important;
	border-radius: 1px !important;
	
	font-size:140%;
  	font-weight:300;
  	text-align:center;
  	color:#fff;
	
}

.btnapp
/*btn inicio sesion formulario*/
{
	background-color: #3399cc !important;
	border-color: #3399cc !important;
	border-radius: 2px !important;

	font-family:'Open Sans',sans-serif;
  	font-size:100%;
  	color:#fff;
  

}

.err
{
	color:red;
	padding-bottom: 20px;
	padding-top: 20px;
	
}

.err img
{
	padding-top: 5px;
	padding-left: 140px;
	padding-bottom: 5px;
}

/* ------------------- FIN FORMULARIO ------------------ */
/*------------------------------------------------------------------------------------------------------------*/

/* ------------------- CABECERA USUARIO ------------------ */

.bienvenido 
/*cabecera de usuario registrado*/
{
	vertical-align: middle;
	color:#3399cc;
	padding-top: 10px;
	margin-top: 10px;
}

.bienvenido a
{
	padding-left: 5px;
}

/*------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------- INICIO BOTON TOGGLE-------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/


#nav-toggle { position: absolute;
padding:20px;}

#nav-toggle { 
cursor: pointer; 
padding-left:17px; 
top:10px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 30px;
  background: #3399cc;
  position: absolute;
  display: block;
  content: '';
  
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
/*------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------- INICIO BOTON TOGGLE------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------- INICIO BOTON TOGGLE------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #3399cc;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: white;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: white;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.logos
{
padding-left:115px;
}

/*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------- FIN BOTON TOGGLE------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------- INICIO CONTENIDO------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/

.container
{
  margin-top: 100px;
}


/*------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------- FIN CONTENIDO------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------- INICIO FORMULARIO CLIENTE ----------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/

.form-cliente
{
  padding-top: 20px;
}


.form-cliente .checkbox-inline
{
 
}

.conreporte
{
  padding-left: 35px;
}

.checkFormCliente{
  padding-top: 5px;
  padding-right: 200px;
  font-weight: normal;
}


/*-----------------------------------------------------------------*/
/*---------- INICIO ERRORRES FORMULARIO CLIENTE -------------------*/
/*-----------------------------------------------------------------*/

label.error{
  color:#a94442;
  font-size: 13px;

}


/*-----------------------------------------------------------------*/
/*---------- FIN ERRORRES FORMULARIO CLIENTE -------------------*/
/*-----------------------------------------------------------------*/


/*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------ INICIO HERRAMIENTAS ------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/


#volver{
  font-family: 'Comfortaa', cursive;
  color:#3399cc;
}

#volver:hover{
  text-decoration: none;
}

.thumbnailherramientas{
  height: 100px;
  width: 150px;
  border: none;
  margin-top: -50px
}

.thumbnailherramientas>img
{
  height: 95%;
}





/*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------ INICIO GESTIONES ------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/

.imgtuto{
  /*width: 1000px !important;*/
  padding-bottom: 100px;
}
/*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------ FIN GESTIONES ------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------ INICIO SELECCION MODEM ------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/

.thumbnailsel
{
  border: none;
}

.thumbnailsel a
{
  text-decoration: none;
}

.thumbnailsel a>img
{
 height: 118px !important;
}