/* ----------------------------------------------------- */
/* ----------------------MODEMS-------------------- */
/* ----------------------------------------------------- */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2qqche');
  src:  url('fonts/icomoon.eot?2qqche#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2qqche') format('truetype'),
    url('fonts/icomoon.woff?2qqche') format('woff'),
    url('fonts/icomoon.svg?2qqche#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle-left:before {
  content: "\ea44";
}


body{
  font-family: 'Comfortaa', cursive;
  font-weight: normal;
  margin: 0;
}
.container{
  max-width: 70%;
  width: 70%;
  margin: 50px auto;
}
.header{
  display: flex;
  justify-content: space-between;
}
.header .volver {
  color: #3399cc;
}
.header .volver a{
  text-decoration: none;
  color: #3399cc;
}
.icon-circle-left:before {
  content: "\ea44";
}
.vista h1{
  font-weight: normal;
}
.frente{
  width: 25%;
}
.thumbnailherramientas {
  height: 72px;
  border: none;
}
.thumbnailherramientas img{
  height: 95%;
}
.title{
  text-align: center;
  font-size: 18px;
}
.title a{
  color: #337ab7;
  text-decoration: none;
}
.center{
  display: flex;
}
.center .col-xs-2{
  width: 144.3px;
}
.center .col-xs-8{
  position: relative;
  width: 800px;
}