body{
  margin: 0;
  font-family: arial;
}
.container{
  display: grid;
  grid-template-columns: 15% 55% 30%;
  grid-template-rows: 1fr;
  grid-template-areas: 	"header header header1"
                        "left center right";
  height: 100vh;
  position: relative;
}

/* ------------------------ HEADER ------------------------ */
.header{
  grid-area: header;
  height: 87px;
  border-bottom: 4px solid rgb(208,208,208);
  background-image: url("../Images/top_bg.jpg");
  background-repeat: repeat;
}
.header figure{
  margin: 0%;
}
.header1{
  grid-area: header1;
  height: 87px;
  border-bottom: 4px solid rgb(208,208,208);
  background-image: url("../Images/top1_2.jpg");
}
.header1 figure{
  margin: 0%;
}
.header1 .text1{
  font-family:Arial;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  color: white;
  text-align: right;
  padding: 40px 50px 1px 1px;
  margin: 0%;
}
.header1 .text2{
  font-family:Arial;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  color: white;
  text-align: right;
  padding: 1px 50px 1px 1px;
  margin: 0%;
}

/*  ---------------------LETF ---------------------- */
.container-left{
  grid-area: left;
  height: calc(100vh - 93px);
  background: rgb(150,150,150);
  border: 2px solid rgb(145, 138, 138);
  overflow: auto;
}
.left{
  margin-top: 20px;
}
.father{
  margin: 2px 0 0 0; 
  padding: 0 0 0 2px;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  list-style: inside none;
  background-color: rgb(66,66,66);
}
.withChild{
  background-color: rgb(102,186,51);
}
.L1{
  text-decoration: none;
  color: white; 
  padding-left: 23px;
}
.L2{
  padding-left: 23px;
  text-decoration: none;
  color: rgb(171,221,47);
}
a:visited {
	text-decoration: none;
}
.left ol a:hover{
  color: rgb(171,221,47);
  cursor: pointer;
}
.left ol li {
  background-color: rgb(96,96,96);
}
.child{
  display: none;
}
.showChild{
  display: block;
}

/* --------------------CENTER ---------------------- */
.center{
  grid-area: center;
  border-left: 4px solid rgb(208,208,208);
}

/* -------------------RIGHT ------------------------ */
.right{
  grid-area: right;
  background: rgb(240,247,241);
  border-left: 4px solid rgb(208,208,208);
}