

body{
	font-family : "Arial";
	font-weight : normal;
}

a:link,a:visited {  color:#505050;  }
a:active,a:hover {  color:#ff5500;  }
small            {  font-size:75%;  }
big              {  font-size:125%; }
strong           {  font-weight:bolder; color:#ff0000; }

p {
	padding         : 0px;
	margin          : 8px 0px 8px 0px;
}

hr {
	padding         : 0px;
	margin          : 24px 0px 0px 0px;
}

img {
	border          : 0px none #000000;
	padding         : 0px;
	margin          : 0px;
}

body.COPYRIGHT {
	background-color: #ec8526;
	font-weight     : normal;
	font-size       : 12px;
	color           : #ffffff;
	padding         : 0px;
	margin          : 0px;
}

body.COPYRIGHT table {
	width           : 100%;
	border          : 0px none #000000;
	border-collapse : collapse;
	border-spacing  : 0px;
	padding         : 0px;
	margin          : 0px;
}

body.COPYRIGHT table td{
	width           : 100%;
	height          : 15px;

	font-weight     : normal;
	font-size       : 12px;
	text-align      : center;
	vertical-align  : middle;
}

body.TTL_BODY{
	background-color : #ffffff;
	color : #000000;

	font-weight : bolder;
	font-size   : 14px;
	color       : #666666;

	text-align  : center;
	vertical-align : middle;
	padding     : 0px;
	margin      : 0px;
}

table.TTL_FRAME{
	width : 100%;
	height : 70px;
	border          : 0px none #000000;

	border-collapse : collapse;
	border-spacing  : 0px;
}

table.TTL_FRAME td{
	padding         : 0px;
	margin          : 0px;
}

table.INFO {
	width  : 100%;
	height : 53px;

	background-image  : url(images/a-repeat.gif);
	background-repeat : repeat-x;

	border-collapse : collapse;
	border-spacing  : 0px;
	padding     : 0px;
	margin      : 0px;
}

table.INFO td.INFO_L{
	width  : 320px;
	height : 53px;




	background-image  : url(images/a-l.gif);

	background-repeat : no-repeat;

	font-weight : bolder;
	color : #c9d7e0;

	font-size   : 16px;
	text-align  : left;
	padding     : 25px 0px 0px 25px;
	margin          : 0px;
}
table.INFO td.INFO_R{
	width  : 450px;
	height : 53px;

	background-image  : url(images/a-r.gif);
	background-repeat : no-repeat;
	padding     :0px;
	margin      : 0px;
}

table.TTL_MENU1,
table.TTL_MENU1_BRI {
	width : 100%;
	height:34px;

	border          : 0px none #000000;
	border-collapse : collapse;
	border-spacing  : 0px;

	background-image : url(images/a-bar1.gif);
	/*background-repeat : repeat-x;*/

	font-weight : bolder;
	font-size   : 16px;
	color       : #ffffff;

	text-align  : center;
	vertical-align  : middle;
}

table.TTL_MENU1 td {
	width : 180px;

	border-top   : 1px solid #ffffff;
	border-left  : 1px solid #ffffff;
	border-right : 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;

	padding         : 0px;
	margin          : 0px;
}

table.TTL_MENU1_BRI td {
	width : 180px;

	border-top   : 1px solid #ffffff;
	border-left  : 1px solid #ffffff;
	border-right : 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;

	padding         : 0px;
	margin          : 0px;
}

table.TTL_MENU1 td.SELECTED,
table.TTL_MENU1_BRI td.SELECTED {
	background-image : url(images/a-bar-sub1.gif);
	background-color  : #c0ffff;

	border-top   : 1px solid #ffffff;
	border-left  : 1px solid #ffffff;
	border-right : 1px solid #ffffff;
	border-bottom: 1px none  #ffffff;
}

table.TTL_MENU1 span.SELECTED {
	color       : #666666;
	cursor: pointer;
}

table.TTL_MENU1 span.UNSELECTED {
	cursor: pointer;
}

table.TTL_MENU1 td.BLANK,
table.TTL_MENU1_BRI td.BLANK {
	border-top   : 1px none  #ffffff;
	border-left  : 1px none  #ffffff;
	border-right : 1px none  #ffffff;
	border-bottom: 1px solid #ffffff;
}

table.TTL_MENU2 {
	border-collapse : collapse;
	border-spacing : 0px;
	background-image : url(images/a-bar-sub1.gif);
	background-repeat : repeat-x;
	background-color : #c0ffff;
	height:36px;
	padding: 0px;
	width : 100%;

	font-weight : bolder;
	font-size   : 14px;
	color       : #666666;

	text-align  : left;
	vertical-align  : middle;

}

table.TTL_MENU2 td{
	padding         : 0px 4px 0px 4px;
	margin          : 0px;
	
	line-height     : 120%;
	white-space : nowrap;
	
	border-top   : 1px none  #E9E8E7;
	border-left  : 1px solid #E9E8E7;
	border-right : 1px none  #E9E8E7;

	text-align      : left;
	vertical-align  : top;
}

table.TTL_MENU2 td.ITEM_MIDDLE_FRONT{
	padding         : 0px 4px 0px 4px;
	margin          : 0px 6px 0px 6px;
	
	line-height     : 120%;
	white-space : nowrap;
	
	border-top   : 1px none  #E9E8E7;
	border-left  : 1px none  #E9E8E7;
	border-right : 1px none  #E9E8E7;
	border-bottom: 1px solid  #E9E8E7;

	text-align      : left;
	vertical-align  : top;
}
table.TTL_MENU2 td.TAIL{
	width: 100%;
	border-top   : 1px none  #E9E8E7;
	border-left  : 1px none  #E9E8E7;
	border-right : 1px none  #E9E8E7;
}

div.ITEM_LOGOUT {
	position:absolute;
	top:85px;
	right:10px; 
	width : 70px;
	text-align  : right;
	padding         : 0px 4px 0px 4px;
	margin          : 0px;
}
table.TTL_MENU2 span {
	margin          : 0px 2px 0px 2px;
	padding : 0px 4px 0px 4px;
}







table.TTL_MENU2 span span.BANDNAME {
	font-family : 'Courier';
	margin          : 0px;
	padding : 0px;
}	
table.TTL_MENU2 span.UNSELECTED {
	border-right : 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #AFFFCB;
}
table.TTL_MENU2 span.UNSELECTED_WLAN11A {
	border-right : 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #008f00;
	color: #E9E8E7;
}
table.TTL_MENU2 span.UNSELECTED_WLAN11G {
	border-right : 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #00008f;
	color: #E9E8E7;
}
table.TTL_MENU2 span.UNSELECTED_WLAN11A a:link,
table.TTL_MENU2 span.UNSELECTED_WLAN11G a:link,
table.TTL_MENU2 span.UNSELECTED_WLAN11A a:visited,
table.TTL_MENU2 span.UNSELECTED_WLAN11G a:visited {
	color:#E9E8E7;
	text-decoration : none;
}

table.TTL_MENU2 span.UNSELECTED_WLAN11A a:active,
table.TTL_MENU2 span.UNSELECTED_WLAN11G a:active,
table.TTL_MENU2 span.UNSELECTED_WLAN11A a:hover,
table.TTL_MENU2 span.UNSELECTED_WLAN11G a:hover {
	color:#E9E8E7;
	text-decoration : underline;
}

table.TTL_MENU2 span.SELECTED {
	margin          : 0px 2px 0px 2px;
	padding : 0px 4px 0px 4px;
	border-top: 1px solid #000000;
	border-right : 0px none #E9E8E7;
	border-bottom: 0px none #E9E8E7;
	background-color: #bbeeee;
	color:#3333ff;
}

table.TTL_MENU2 span.SELECTED span.WLAN11A,
table.TTL_MENU2 span.SELECTED span.WLAN11G
{
	color:#3333ff;
}

table.TTL_MENU1 a:link,
table.TTL_MENU1 a:visited,
table.TTL_MENU1_BRI a:link,
table.TTL_MENU1_BRI a:visited {
	color:#E9E8E7;
	text-decoration : none;
}

table.TTL_MENU1 a:active,
table.TTL_MENU1 a:hover,
table.TTL_MENU1_BRI a:active,
table.TTL_MENU1_BRI a:hover {
	color:#E9E8E7;
	text-decoration : underline;
}

table.TTL_MENU2 a:link,
table.TTL_MENU2 a:visited {
	color:#666666;
	text-decoration : none;
}

table.TTL_MENU2 a:active,
table.TTL_MENU2 a:hover {
	color:#666666;
	text-decoration : underline;
}

div.ITEM_LOGOUT a:link,
div.ITEM_LOGOUT a:visited {
	color:#009933;
	text-decoration : none;
}

div.ITEM_LOGOUT a:active,
div.ITEM_LOGOUT a:hover {
	color:#009933;
	text-decoration : none;
}

table.TTL_MENU2 span.SELECTED a:link,
table.TTL_MENU2 span.SELECTED a:visited {
	color:#3333ff;
	text-decoration : none;
}

table.TTL_MENU2 span.SELECTED a:active,
table.TTL_MENU2 span.SELECTED a:hover {
	color:#3333ff;
	text-decoration : underline;
}

div.C_ERR hr {
	padding         : 0px;
	margin          : 0px;
}
div.C_ERR p {
	padding         : 0px;
	margin          : 0px;
}

.C_WARN, .C_ERR {
	color       : #ff0000;
}

p.C_WARN, p.C_ERR {
	font-size   : 15px;
	font-weight : 600;
	color       : #ff0000;
}

.C_NOTICE {
	color       : #996600;
}

.C_MOD {
	color       : red;
}

.C_CONFIRM {
	color       : #202020;
}

.WLAN11A {
	color:#008f00;
}
.WLAN11G {
	color:#00008f;
}

table.TTL_MENU2 span span.WLAN11A {
	color:#008f00;
	padding         : 0px;
}
table.TTL_MENU2 span span.WLAN11G {
	color:#00008f;
	padding         : 0px;
}

.DIGIT {
	text-align  : right;
}

.CENTER {
	text-align  : center;
}


body.TOP_BODY {
	background-color : #E9E8E7;
	color : #000000;

	font-weight : bolder;
	font-size   : 14px;
	color       : #666666;

	text-align  : center;
	vertical-align : middle;
	padding     : 0px;
	margin      : 0px;
}

table.TOP_FRAME {
	width  : 100%;
	height : 100%;

	border          : 0px none #000000;
	border-collapse : separate;
	border-spacing  : 8px;
}

table.TOP_FRAME td{
	text-align     : center;
	vertical-align : top;

	margin:8px;
}


table.TOP_WIZ_GRP{
	width : 300px;

	border          : 0px none #000000;
	border-collapse : collapse;
	border-spacing  : 0px;

	margin : 10px 0px 0px 0px;
}

table.TOP_WIZ_GRP tr.HEAD td.TBL_C{
	background-color : #7797c7;

	font-size : 12pt;
	font-weight : bolder;
	color : #E9E8E7;

	text-align     : left;
	vertical-align : middle;
	padding : 6px 0px 0px 10px;
}

table.TOP_WIZ_GRP tr.HEAD td.TBL_L,
table.TOP_WIZ_GRP tr.HEAD td.TBL_R{
	width : 6px;
	background-color : #7797c7;
}

table.TOP_WIZ_GRP tr.FOOT td.TBL_C{
	height : 6px;
	background-color : #7797c7;
}

table.TOP_WIZ_GRP tr.FOOT td.TBL_L,
table.TOP_WIZ_GRP tr.FOOT td.TBL_R{
	width  : 6px;
	height : 6px;
	background-color : #7797c7;
}

table.TOP_WIZ_GRP tr.HEAD2 td.TBL_C{
	height : 23px;

	background-color : #e0e0e0;
	border-top    : 1px solid gray;
	border-bottom : 1px solid gray;
	border-left   : 1px solid gray;
	border-right  : 1px solid gray;

	font-size : 14px;
	font-weight : bolder;
	color : #7b7b7b;

	text-align     : left;
	vertical-align : middle;
	padding : 0px 0px 0px 15px;
}

table.TOP_WIZ_GRP tr.HEAD2 td.TBL_L{
	width : 6px;
	background-color : #7797c7;

	border       : 0px none  gray;
}

table.TOP_WIZ_GRP tr.HEAD2 td.TBL_R{
	width : 6px;
	background-color : #7797c7;

	border       : 0px none  gray;
}

table.TOP_WIZ_GRP tr.FOOT2 td.TBL_C{
	height : 0px;
	background-color : #E9E8E7;
}
table.TOP_WIZ_GRP tr.FOOT2 td.TBL_L{
	width : 6px;
	height : 0px;
	background-color : #7797c7;
}
table.TOP_WIZ_GRP tr.FOOT2 td.TBL_R{
	width  : 6px;
	height : 0px;
	background-color : #E9E8E7;
}

table.TOP_WIZ_GRP tr.TBL td.TBL_C{
	height : 16px;
	background-color : #E9E8E7;

	font-size : 9pt;
	font-weight : normal;  
	color : #505050;

	text-align     : left;
	vertical-align : middle;
}

table.TOP_WIZ_GRP tr.TBL td.TBL_L{
	width : 6px;
	background-color : #7797c7;
}

table.TOP_WIZ_GRP tr.TBL td.TBL_R{
	width : 6px;
	background-color : #7797c7;
}

table.TOP_WIZ_GRP ul{
	padding : 0px;
	margin  : 0px 0px 0px 30px;
}

table.TOP_WIZ_GRP ul li{
	padding : 0px 5px 0px 5px;
	margin  : 4px 0px 3px 0px;
	list-style-image: url(images/y_orange.gif);
}


table.TOP_INFO_GRP{
	width : 290px;

	border          : 0px none #000000;
	border-collapse : collapse;
	border-spacing  : 0px;

	margin : 10px 0px 0px 0px;
}

table.TOP_INFO_GRP tr.HEAD td.TBL_C{
	background-color : #b9e1cb;

	font-size : 14px;
	font-weight : bolder;
	color : #003939;

	text-align     : left;
	vertical-align : middle;
	padding : 2px 0px 0px 0px;
}

table.TOP_INFO_GRP tr.HEAD td.TBL_L,
table.TOP_INFO_GRP tr.HEAD td.TBL_R{
	width : 6px;
	background-color : #b9e1cb;
}

table.TOP_INFO_GRP tr.FOOT td.TBL_C{
	text-align : center;

	padding : 6px;
	background-color : #b9e1cb;
}
table.TOP_INFO_GRP tr.FOOT td.TBL_C table td.L{
	width : 123px;
}
table.TOP_INFO_GRP tr.FOOT td.TBL_C table td.C{
	width : 32px;
	text-align     : center;
}
table.TOP_INFO_GRP tr.FOOT td.TBL_C table td.R{
	width : 123px;
	
	font-size : 9pt;
	color : #008268;

	text-align     : left;
	vertical-align : middle;
}

table.TOP_INFO_GRP tr.FOOT td.TBL_L,
table.TOP_INFO_GRP tr.FOOT td.TBL_R{
	width  : 6px;
	height : 6px;
	background-color : #b9e1cb;
}

table.TOP_INFO_GRP tr.HEAD2 td.TBL_C{
	background-color : #ebefe2;

	font-size : 14px;
	font-weight : bolder;
	color : #008268;

	border-bottom : 1px dotted #7b6157;

	text-align     : left;
	vertical-align : middle;
	padding : 2px 0px 0px 0px;
}

table.TOP_INFO_GRP tr.HEAD2 td.TBL_L,
table.TOP_INFO_GRP tr.HEAD2 td.TBL_R{
	width : 6px;
	background-color : #ebefe2;

	border-bottom : 1px dotted #7b6157;
}

table.TOP_INFO_GRP tr.FOOT2 td.TBL_C,
table.TOP_INFO_GRP tr.FOOT2 td.TBL_R,
table.TOP_INFO_GRP tr.FOOT2 td.TBL_L{
	width  : 6px;
	height : 6px;
	background-color : #ebefe2;
}


table.TOP_INFO_GRP tr.TBL td.TBL_C{
	height : 14px;
	background-color : #ebefe2;

	font-size : 9pt;
	font-weight : normal;  
	height : 16px;
	color : #008268;

	text-align     : left;
	vertical-align : middle;
}

table.TOP_INFO_GRP tr.TBL td.TBL_C table{
	width : 278px;

	border          : 0px none #000000;
	border-collapse : collapse;
	border-spacing  : 0px;

	margin : 0px 0px 0px 0px;
}

table.TOP_INFO_GRP tr.TBL td.TBL_L{
	width : 6px;
	background-color : #ebefe2;
}

table.TOP_INFO_GRP tr.TBL td.TBL_R{
	width : 6px;
	background-color : #ebefe2;
}

body.TOP_IFRAME_BODY {
	background-color : #E9E8E7;
	color : #000000;

	padding     : 0px;
	margin      : 0px;
}

body.TOP_IFRAME_BODY table{
	width : 100%;
	height : 100%;

	border          : 0px none #000000;
	border-collapse : collapse;
	border-spacing  : 0px;

	padding : 0px;
	margin  : 0px;
}

body.TOP_IFRAME_BODY table td{
	width : 100%;
	height : 100%;

	text-align     : center;
	vertical-align : top;
}


body.WIZ_BODY {
	background-color : #E9E8E7;
	color : #000000;

	padding     : 0px;
	margin      : 0px;
}

table.WIZ_FRAME{
	width : 100%;

	background-color : #E9E8E7;

	border          : 0px none #000000;
	border-collapse : collapse;
	border-spacing  : 0px;

	padding : 0px;
	margin  : 0px;
}

table.WIZ_FRAME ul{
	padding : 0px;
	margin  : 0px 0px 0px 30px;
}

table.WIZ_FRAME ul li{
	padding : 0px 5px 0px 5px;
	margin  : 4px 0px 3px 0px;
	list-style-image: url(images/y_orange.gif);
}

table.WIZ_FRAME tr.TBL td.TBL_L,
table.WIZ_FRAME tr.TBL td.TBL_R{
	width : 86px;
	background-color : #E9E8E7;
}

table.WIZ_FRAME tr.TBL td.TBL_C{
	background-color : #E9E8E7;
        text-align : center;

	padding : 0px;
	margin  : 0px;
}

table.WIZ_FRAME tr.HEAD td.TBL_C,
table.WIZ_FRAME tr.HEAD td.TBL_L,
table.WIZ_FRAME tr.HEAD td.TBL_R{
	height: 16px;
	background-color : #E9E8E7;
}

table.WIZ_FRAME tr.FOOT td.TBL_C,
table.WIZ_FRAME tr.FOOT td.TBL_L,
table.WIZ_FRAME tr.FOOT td.TBL_R{
	height: 16px;
	background-color : #E9E8E7;
}

table.WIZ_FRAME2{
	width : 727px;

	background-color : #E9E8E7;

	border          : 0px none #000000;
	border-collapse : collapse;
	border-spacing  : 0px;

	padding : 0px;
	margin  : 0px;
}

table.WIZ_FRAME2 tr.HEAD td.TBL_C{
	height: 26px;
	background-color : #7797c7;

	font-size : 16px;
	font-weight : bolder;
	color : #E9E8E7;

	text-align     : left;
	vertical-align : middle;
	padding : 6px 0px 0px 10px;

}

table.WIZ_FRAME2 tr.HEAD td.TBL_L,
table.WIZ_FRAME2 tr.HEAD td.TBL_R{
	width  : 6px;
	height : 26px;
	background-color : #7797c7;
}

table.WIZ_FRAME2 tr.HEAD2 td.TBL_C{
	height : 23px;

	background-color : #e0e0e0;
	border         : 1px solid gray;

	font-size : 14px;
	font-weight : bolder;
	color : #7b7b7b;

	text-align     : left;
	vertical-align : middle;
	padding : 0px 0px 0px 15px;
}

table.WIZ_FRAME2 tr.HEAD2 td.TBL_L,
table.WIZ_FRAME2 tr.HEAD2 td.TBL_R{
	width  : 6px;
	height : 23px;
	background-color : #7797c7;
}

table.WIZ_FRAME2 tr.FOOT td.TBL_C{
	height : 6px;
	background-color : #7797c7;
}

table.WIZ_FRAME2 tr.FOOT td.TBL_L,
table.WIZ_FRAME2 tr.FOOT td.TBL_R{
	width  : 6px;
	height : 6px;
	background-color : #7797c7;
}

table.WIZ_FRAME2 tr.TBL td.TBL_C{
	background-color : #E9E8E7;

	text-align     : center;
	vertical-align : middle;
}
table.WIZ_FRAME2 tr.TBL td.TBL_L,
table.WIZ_FRAME2 tr.TBL td.TBL_R{
	width : 6px;
	background-color : #7797c7;
}

table.WIZ_FRAME3{
	width : 667px;

	background-color : #999999;

	border          : 0px none #999999;
	border-collapse : collapse;
	border-spacing  : 0px;

	padding : 0px;
	margin  : 12px 24px 12px 24px;
}

table.WIZ_FRAME3 tr.HEAD td.TBL_C{
	height: 12px;
	background-color   : #eeeeee;
	background-image   : url(images/y_orange.gif);
	background-repeat  : no-repeat;
	background-position: 4px 6px;
	border             : 1px solid #999999;

	font-size : 9pt;
	font-weight : normal;  
	height : 16px;
	color : #505050;

	text-align     : left;
	vertical-align : middle;

	padding : 4px 5px 3px 24px;
	margin  : 0px;
}

table.WIZ_FRAME3 tr.HEAD td.TBL_L,
table.WIZ_FRAME3 tr.HEAD td.TBL_R{
	background-color : #E9E8E7;
	border           : 0px none #E9E8E7;
}


table.WIZ_FRAME3 tr.FOOT{
	background-color : #E9E8E7;
	border           : 0px none #E9E8E7;
}

table.WIZ_FRAME3 tr.FOOT td.TBL_L,
table.WIZ_FRAME3 tr.FOOT td.TBL_R{
	background-color : #E9E8E7;
	border           : 0px none #E9E8E7;
}

table.WIZ_FRAME3 tr.TBL td.TBL_C{
	background-color : #E9E8E7;
	border             : 1px solid #999999;

	text-align     : center;
	vertical-align : middle;
}

table.WIZ_FRAME3 tr.TBL td.TBL_L,
table.WIZ_FRAME3 tr.TBL td.TBL_R{
	background-color : #E9E8E7;
	border           : 0px none #E9E8E7;
}

table.NAVI {
	width : 600px;
	background-color : #E9E8E7;
	border          : 0px none #999999;
	border-collapse : collapse;
	border-spacing  : 0px;

	padding : 0px;
	margin  : 0px;

	padding : 0px;
	margin  : 12px 68px 12px 68px;
}

table.NAVI td{
	height : 20px;

	font-size : 9pt;
	font-weight : normal;  
	height : 16px;
	color : #505050;

	text-align : center;
	vertical-align : middle;
}

table.NAVI td.NAVI_L{
	width      : 25%;
	text-align : left;
}

table.NAVI td.NAVI_C{
	width      : 50%;
	text-align : center;
}

table.NAVI td.NAVI_R{
	width      : 25%;
	text-align : right;
}


table.WIZ_SET,
table.WIZ_TIPS{
	width : 650px;

	background-color : #999999;
	border          : 0px none #999999;
	border-collapse : collapse;
	border-spacing  : 0px;

	padding : 0px;
	margin  : 12px 6px 12px 6px;
}

table.WIZ_SET th,
table.WIZ_TIPS th{
	width : 33%;
	background-color   : #eeeeee;
	border             : 1px solid #999999;

	font-size : 9pt;
	font-weight : normal;  
	height : 16px;
	color : #505050;

	text-align     : left;
	vertical-align : middle;

	padding : 4px 5px 3px 5px;
	margin  : 0px;
}

table.WIZ_SET td,
table.WIZ_TIPS td{
	background-color   : #E9E8E7;
	border             : 1px solid #999999;

	font-size : 9pt;
	font-weight : normal;  
	height : 16px;
	color : #505050;

	text-align     : left;
	vertical-align : middle;

	padding : 4px 5px 3px 5px;
	margin  : 0px;
}

table.WIZ_SET td table,
table.WIZ_TIPS td table{
	width : auto;
	background-color : #E9E8E7;

	border          : 0px none #000000;
	border-collapse : collapse;
	border-spacing  : 0px;

	margin  : 0px;
	padding : 0px;
}

table.WIZ_SET td table td,
table.WIZ_TIPS td table td{
	border          : 0px none #000000;
	padding : 0px 4px 0px 0px;
}

table.WIZ_SET2,
table.WIZ_TIPS2{
	width : 650px;

	background-color : #999999;
	border          : 0px none #999999;
	border-collapse : collapse;
	border-spacing  : 0px;

	padding : 0px;
	margin  : 12px 6px 12px 6px;
}

table.WIZ_SET2 th,
table.WIZ_TIPS2 th{
	width : 33%;
	background-color   : #eeeeee;
	border             : 1px solid #999999;

	font-size : 9pt;
	font-weight : normal;  
	height : 16px;
	color : #505050;

	text-align     : left;
	vertical-align : middle;

	padding : 4px 5px 3px 5px;
	margin  : 0px;
}

/*table.WIZ_SET2 td,
table.WIZ_TIPS2 td{
	background-color   : #E9E8E7;
	border             : 1px solid #999999;

	font-size : 9pt;
	font-weight : normal;  
	height : 16px;
	color : #505050;

	text-align     : left;
	vertical-align : middle;

	padding : 4px 5px 3px 5px;
	margin  : 0px;
}*/

table.WIZ_SET2 td table,
table.WIZ_TIPS2 td table{
	width : auto;
	background-color : #E9E8E7;

	border          : 0px none #000000;
	border-collapse : collapse;
	border-spacing  : 0px;

	margin  : 0px;
	padding : 0px;
}

table.WIZ_SET2 td table td,
table.WIZ_TIPS2 td table td{
	border          : 0px none #000000;
	padding : 0px 4px 0px 0px;
}

table.WIZ_FRAME2 table,
table.WIZ_FRAME3 table{
	width : 650px;
	background-color : #E9E8E7;
	border             : 0px none #999999;

	padding : 0px;
	margin  : 12px 6px 12px 6px;
}

table.WIZ_FRAME2 table td,
table.WIZ_FRAME3 table td{
	font-size : 9pt;
	font-weight : normal;  
	height : 16px;
	color : #505050;

	text-align     : left;
	vertical-align : middle;

	padding : 4px 5px 3px 5px;
	margin  : 0px;
}


table.WIZ_FRAME_INFO{
	width : 727px;
	background-color   : #E9E8E7;
	border          : 0px none #000000;
	border-collapse : collapse;
	border-spacing  : 0px;

	padding : 0px;
	margin  : 0px;
}

table.WIZ_FRAME_INFO tr.HEAD td.TBL_C{
	height : 23px;
	background-image   : url(images/y_orange.gif);
	background-repeat  : no-repeat;
	background-position: 4px 6px;

	font-size : 9pt;
	font-weight : normal;
	height : 16px;
	color : #505050;

	text-align     : left;
	vertical-align : middle;

	padding : 4px 5px 3px 24px;
	margin  : 0px;
}

table.WIZ_FRAME_INFO tr.HEAD td.TBL_L,
table.WIZ_FRAME_INFO tr.HEAD td.TBL_R{
	width  : 6px;
	height : 23px;
	background-color : #E9E8E7;
}

table.WIZ_FRAME_INFO tr.FOOT td.TBL_C{
	height : 6px;
	background-color : #E9E8E7;
}

table.WIZ_FRAME_INFO tr.FOOT td.TBL_L,
table.WIZ_FRAME_INFO tr.FOOT td.TBL_R{
	width  : 6px;
	height : 6px;
	background-color : #E9E8E7;
}

table.WIZ_FRAME_INFO tr.TBL td.TBL_C{
	background-color : #E9E8E7;
	border             : 0px none #E9E8E7;

	text-align     : left;
	vertical-align : top;
}

table.WIZ_FRAME_INFO tr.TBL td.TBL_L,
table.WIZ_FRAME_INFO tr.TBL td.TBL_R{
	width  : 6px;
	height : 6px;
	background-color : #E9E8E7;
}

table.WIZ_LIST{
	border-collapse : separate;
	border-spacing  : 1px;

	border  : 0px none #000000;
	margin  : 0px 0px 8px 0px;
}

table.WIZ_LIST th{
	height : 18px;
	background-color : #d2e6fa;

	font-size : 14px;
	font-weight : normal;  
	color : #505050;
	white-space: nowrap;

	text-align     : left;
	vertical-align : middle;

	padding : 2px 0px 2px 0px;
	margin  : 0px;
}

table.WIZ_LIST th.ARROW{
	background-color : #E9E8E7;
}

table.WIZ_LIST td{
	height : 16px;
	background-color : #c8ffc8;

	font-size : 12px;
	font-weight : normal;  
	color : #505050;
	white-space: nowrap;

	text-align     : left;
	vertical-align : middle;

	padding : 2px 0px 2px 0px;
	margin  : 0px;
}

table.WIZ_LIST tr.DISABLE td{
	color : #990000;
	background-color : #e6e6e6;
}

table.WIZ_LIST td.ARROW,
table.WIZ_LIST tr.DISABLE td.ARROW{
	background-color : #E9E8E7;
}

table.WIZ_LIST td.NO_ENTRY{
	text-align : center;
}

table.WIZ_FRAME3 table.WIZ_CONN_CHECK {
	width : 650px;
	border-collapse : separate;
	border-spacing  : 1px;
	border          : 0px none #000000;
	padding : 0px;
	margin  : 12px 6px 12px 6px;
}

table.WIZ_FRAME3 table.WIZ_CONN_CHECK td {
	width           : 33%;
	background-color: #6f7b82;

	font-size       : 12px;
	font-weight     : bolder;
	color           : #E9E8E7;
	text-align      : center;
	vertical-align  : middle;

	padding         : 0px;
	margin          : 0px;
}

table.WIZ_FRAME3 table.WIZ_CONN_CHECK td.CHECK {
	background-color: #9c2121;
}


body.BFK_BODY {
	background-color: #E9E8E7;

	font-size       : 15px;
	font-weight     : 600;
	color           : #294887;

	padding-top     : 2px;
	padding-bottom  : 7px;
}

body.BFK_BODY a:link     { color:#141168; }
body.BFK_BODY a:visited  { color:#141168; }
body.BFK_BODY a:active   { color:#ff0000; }
body.BFK_BODY a:hover    { color:#141168; }

form {
	margin  : 0px 0px 0px 0px;
	padding-top : 0px;
	padding-bottom : 0px;
	padding-left : 0px;
	padding-right : 0px;
}

table.AD_TTL {
	width : 100%;
}

table.AD_TTL td {
	background-color : #d9e7ff;
	font-size: 18px;
	font-weight: bold;
	color: #1a2c4a;
	padding: 4px 0px 4px 20px;

	border : 0px none #000000;
}

table.AD_TTL2 td {
	font-size : 15px;
	font-weight : 600;
	color : #294887;

	padding-top : 2px;
	padding-bottom : 7px;
}


table.AD_SET_WDS {
	border-collapse : separate;
	border-spacing  : 1px;
	/*background-color : #d2eef4;*/
	border          : 0px none #000000;
	margin  : 0px 0px 8px 0px;
}

table.AD_SET_WDS th {
	/*font-size : 14px;*/
	/*font-weight : normal;*/
		font-size   : 15px;
	font-weight : 600;
	color       : #294887;
	/*color : #1a2c4a;*/
	text-align : center;
	background-color : #E9E8E7;
	padding : 2px 5px 2px 5px;
}

table.AD_SET_WDS td {
	font-size : 12px;
	font-weight : normal;
	color : #325174;
	text-align : center;

	padding : 2px 5px 2px 5px;
}

table.AD_SET {
	border-collapse : separate;
	border-spacing  : 1px;

	border          : 0px none #000000;
	margin  : 0px 0px 8px 0px;
}

table.AD_SET th {
	font-size : 14px;
	font-weight : normal;
	color : #1a2c4a;
	text-align : left;
	/*white-space: nowrap;*/
	background-color : #c9d7f1;
	padding : 2px 5px 2px 5px;
	/*white-space: nowrap;*/
}

table.AD_SET td {
	font-size : 12px;
	font-weight : normal;
	color : #325174;
	text-align : left;
	/*white-space: nowrap;*/
	background-color : #d2eef4;
	/*white-space: nowrap;*/

	padding : 2px 5px 2px 5px;
}

table.AD_SET table {
	border-collapse : collapse;
	border-spacing  : 0px;

	border  : 0px none #000000;
	margin  : 0px;
	padding : 0px;
	/*white-space: nowrap;*/
}

table.AD_SET table th{
	/*white-space: nowrap;*/
	padding : 0px 4px 0px 0px;
	border  : 0px none #000000;
	/*white-space: nowrap;*/
}

table.AD_SET table td{
	/*white-space: nowrap;*/
	padding : 0px 4px 0px 0px;
	border  : 0px none #000000;
	/*white-space: nowrap;*/
}


table.AD_INFO {
	border-collapse : separate;
	border-spacing  : 1px;
	border          : 0px none #000000;
	margin  : 0px 0px 8px 0px;
}

table.AD_INFO th {
	height : 16px;

	font-size : 14px;
	font-weight : normal;
	color : #003939;
	text-align : left;
	background-color : #b9e1cb;

	padding : 2px 5px 2px 5px;
}

table.AD_INFO td {
	height : 16px;

	font-size : 12px;
	font-weight : normal;
	color : #008268;
	text-align : left;
	background-color : #ebefe2;

	padding : 2px 2px 2px 2px;
}

table.AD_INFO_ENC {
	border-collapse : collapse;
	border          : 0px none #000000;
	margin  : 0px;
}

table.AD_INFO_ENC td {
	font-size : 11px;
	font-weight : normal;
	color : #008268;
	text-align : left;
	vertical-align : middle ;
	background-color : #ebefe2;

	padding : 0px 2px 0px 0px;
}

table.AD_INFO_LOG {
	width   : 100%;
	border-collapse : separate;
	border-spacing  : 1px;
	border          : 0px none #000000;
	margin  : 0px 0px 8px 0px;
}

table.AD_INFO_LOG th {
	height : 16px;

	font-size : 14px;
	font-weight : normal;
	color : #003939;
	text-align : left;
	white-space: nowrap;
	background-color : #b9e1cb;

	padding : 2px 5px 2px 5px;
}

table.AD_INFO_LOG td {
	height : 16px;

	font-size : 12px;
	font-weight : normal;
	color : #008268;
	text-align : left;
	white-space: nowrap;
	background-color : #ebefe2;

	padding : 2px 5px 2px 5px;
}

table.AD_INFO_LOG .DATE {
}
table.AD_INFO_LOG .KIND {
}
table.AD_INFO_LOG .KIND {
}

table.AD_SYSINFO{
	border-collapse : separate;
	border-spacing  : 1px;
	width : 100%;
	border          : 0px none #000000;
	margin  : 0px 0px 8px 0px;
}
table.AD_SYSINFO th {
	height : 18px;

	font-size : 14px;
	font-weight : normal;
	color : #003939;
	text-align : left;
	white-space: nowrap;
	background-color : #b9e1cb;

	padding : 2px 5px 2px 5px;
}
table.AD_SYSINFO td {
	height : 16px;

	font-size : 12px;
	font-weight : normal;
	color : #008268;
	text-align : left;
	background-color : #ebefe2;

	padding : 2px 5px 2px 5px;
}
table.AD_SYSINFO td table{
	border-collapse : separate;
	border-spacing  : 0px;
	border          : 0px none #000000;
	margin  : 0px 0px 0px 0px;
	width :100%;
}
table.AD_SYSINFO td table th{
	width : 40%;
	height : 16px;
	font-size : 12px;
	color : #008268;
	text-align : left;
	background-color : #ebefe2;

	padding : 0px;
}
table.AD_SYSINFO td table td{
	height : 16px;
	font-size : 12px;
	color : #008268;
	text-align : left;
	background-color : #ebefe2;

	padding : 0px;
}
table.AD_LIST {
	border-collapse : separate;
	border-spacing  : 1px;

	border          : 0px none #000000;
	margin  : 0px 0px 8px 0px;
}

table.AD_LIST th {
	font-size : 14px;
	font-weight : normal;
	color : #505050;
	text-align : left;
	white-space: nowrap;
	background-color : #d2e6fa;
	white-space: nowrap;

	padding : 2px 5px 2px 5px;
}

table.AD_LIST td {
	font-size : 12px;
	font-weight : normal;
	color : #505050;
	white-space: nowrap;
	background-color : #c8ffc8;
	white-space: nowrap;

	padding : 2px 5px 2px 5px;
}

table.AD_LIST tr.DISABLE td{
	color : #990000;
	background-color : #e6e6e6;
}

table.AD_LIST th.ARROW{
	background-color : #E9E8E7;
}

table.AD_LIST td.ARROW {
	text-align : center;
	background-color : #E9E8E7;
}

table.AD_LIST td.NO_ENTRY {
	font-size : 12px;
	font-weight : normal;
	color : #505050;
	background-color : #c8ffc8;
	text-align : center;

	padding : 2px 5px 2px 5px;
}
table.WPS_SYSINFO{
	border-collapse : separate;
	border-spacing  : 1px;
	width : 100%;
	border          : 0px none #000000;
	margin  : 0px 0px 8px 0px;
}
table.WPS_SYSINFO th {
	height : 18px;

	font-size : 14px;
	font-weight : normal;
	color : #003939;
	text-align : left;
	white-space: nowrap;
	background-color : #b9e1cb;

	padding : 2px 5px 2px 5px;
}
table.WPS_SYSINFO td {
	height : 16px;

	font-size : 12px;
	font-weight : normal;
	color : #008268;
	text-align : left;
	white-space: nowrap;
	background-color : #ebefe2;

	padding : 2px 5px 2px 5px;
}
table.WPS_SYSINFO td table{
	border-collapse : separate;
	border-spacing  : 0px;
	border          : 0px none #000000;
	margin  : 0px 0px 0px 0px;
	width :100%;
}
table.WPS_SYSINFO td table th{
	width : 100px;
	height : 16px;
	font-size : 12px;
	color : #008268;
	text-align : left;
	white-space: nowrap;
	background-color : #ebefe2;

	padding : 0px;
}
table.WPS_SYSINFO td table td{
	height : 16px;
	font-size : 12px;
	color : #008268;
	text-align : left;
	white-space: nowrap;
	background-color : #ebefe2;

	padding : 0px;
}

TABLE.OPTTAB
{
        BORDER:1px;
        BORDER-SPACING:1;
        BORDER-COLLAPSE:COLLAPSE;

}
.itemtype{
        WIDTH: 550px;
        FONT-WEIGHT: bold;
        FONT-SIZE: 18px;
        COLOR: #1a2c4a;
        PADDING-LEFT:20px;
        BACKGROUND-COLOR: #d9e7ff
}
.blanktr{
        HEIGHT: 20px
}
.funname{
        FONT-WEIGHT: normal;
        FONT-SIZE: 14px;
        COLOR: #1a2c4a;
        BACKGROUND-COLOR: #c9d7f1;
        TEXT-ALIGN: left;
        WIDTH: 150px;
        PADDING-LEFT:5px;
}
.dhcp_td
{
   font-family:Arial;
   font-size:0.8em
}
                          t-family:Arial;
   font-size:0.8em
}
 