#power{
  position: absolute;
  width: 32px;
  height: 19px;
  top: 340px;
  left: 307px;
  cursor: pointer;
  /* border: 1px solid red; */
}
#wifi{
  position: absolute;
  width: 32px;
  height: 19px;
  top: 293px;
  left: 307px;
  cursor: pointer;
  /* border: 1px solid red; */
}
#lan{
  position: absolute;
  width: 32px;
  height: 19px;
  top: 271px;
  left: 307px;
  cursor: pointer;
  /* border: 1px solid red; */
}
#senal{
  position: absolute;
  width: 32px;
  height: 76px;
  top: 184px;
  left: 307px;
  cursor: pointer;
  /* border: 1px solid red; */
}
/* ---------------------------------------------------------
------------------------ATRAS----------------------------
--------------------------------------------------------- */
#enchufe{
  position: absolute;
  width: 23px;
  height: 21px;
  top: 325px;
  left: 393px;
  cursor: pointer;
  /* border: 1px solid red; */
}
#lan1atras{
  position: absolute;
  width: 28px;
  height: 30px;
  top: 269px;
  left: 396px;
  cursor: pointer;
  /* border: 1px solid red; */
}
#reset{
  position: absolute;
  width: 17px;
  height: 20px;
  top: 235px;
  left: 396px;
  cursor: pointer;
  /* border: 1px solid red; */
}
#simcard{
  position: absolute;
  width: 25px;
  height: 41px;
  top: 182px;
  left: 396px;
  cursor: pointer;
  /* border: 1px solid red; */
}