body {
	font-family : "Arial";
	font-weight : normal;  
	line-height : 1;

	color : #000000;
	background-color : #FFEF8D;
}

a:link,a:visited {  color:#0000ff;  }
a:active,a:hover {  color:#ff5500;  }
small            {  font-size:75%;  }
big              {  font-size:125%; }
strong           {  font-weight:bolder; color:#ff0000; }

.C_WARN, .C_ERR {
	color       : #ff0000;
}

.C_NOTICE {
	color       : #996600;
}

.WLAN11A {
	color:#008f00;
}
.WLAN11G {
	color:#00008f;
}

.DIGIT {
	text-align  : right;
}

.CENTER {
	text-align  : center;
}

p {
	padding         : 0px;
	margin          : 0.5em 0em 0.5em 0em;
}

hr {
	height : 5px;
	color : #c9d7f1;
	background-color : #c0c0ff;
	border-style : none;
}

img {
	border          : 0px none #000000;
	padding         : 0px;
	margin          : 0px;
}

table {
	border          : 1px solid #9090ff;

	border-collapse : collapse;
	border-spacing  : 0px;

	padding         : 0px;
	margin          : 0.5em 0em 0.5em 0em;
}
table caption{
	font-size       : 14px;
	font-weight     : bolder;  
	white-space     : nowrap;
	text-align      : left;
}

table th{
	border          : 1px solid #9090ff;
	font-size       : 12px;
	font-weight     : bolder;  
	white-space     : nowrap;
	text-align      : center;
	vertical-align  : middle;
}

table td{
	border          : 1px solid #9090ff;
	font-size       : 12px;
	font-weight     : normal;  
	white-space     : nowrap;
	text-align      : left;
	vertical-align  : middle;
}

table.NO_BORDER {
	border : 0px solid #000000;
	border-collapse : collapse;
	border-spacing  : 0px;

	padding         : 0px;
	margin          : 0.5em 0em 0.5em 0em;

	background-color : #000000;
}
table.NO_BORDER th{
	border          : 1px solid #000000;
	font-size       : 12px;
	font-weight     : bolder;  
	white-space     : nowrap;
	text-align      : center;
	vertical-align  : middle;
}

table.NO_BORDER td{
	border          : 1px solid #000000;
	font-size       : 12px;
	font-weight     : normal;  
	white-space     : nowrap;
	text-align      : left;
	vertical-align  : middle;
}

ul {
	padding : 0px;
	margin  : 0.5em 0em 0.5em 2em;
}

ul li {
	font-size : 12px;

	list-style: disc outside;
	padding : 0px;
	margin  : 0em 0em 0.5em 0em;
}

ol {
	padding : 0px;
	margin  : 0.5em 0em 0.5em 2em;
}

ol ol {
	padding : 0px;
	margin  : 0.5em 0em 0.5em 0.5em;
}

ol li {
	font-size : 12px;

	list-style: decimal outside;
	padding : 0px;
	margin  : 0em 0em 0.5em 0em;
}

p.HELP_TTL1 {
	font-size : 13px;
	font-weight : bold;

	padding : 0px;
	margin  : 0.5em 0em 0.5em 0em;
}

p.HELP_TTL2 {
	font-size : 13px;
	font-weight : bold;

	padding : 0px;
	margin  : 0em 0em 0.5em 0em;
}

p.HELP_TTL3 {
	font-size : 12px;
	font-weight : bold;

	padding : 0px;
	margin  : 0em 0em 0.5em 1em;
}

p.HELP_TTL4 {
	font-size : 12px;
	font-weight : bold;

	padding : 0px;
	margin  : 0em 0em 0em 1.5em;
}

p.HELP_BODY1 {
	font-size : 13px;

	padding : 0px;
	margin  : 0em;
}

p.HELP_BODY2 {
	font-size : 13px;

	padding : 0px;
	margin  : 0em;
}

p.HELP_BODY3 {
	font-size : 12px;

	padding : 0px;
	margin  : 0em 0em 0em 1em;
}
p.HELP_BODY4 {
	padding-left : 1em;
	font-size : 12px;

	padding : 0px;
	margin  : 0em 0em 0em 1.5em;
}

                   ing : 0px;
	margin  : 0em 0em 0em 1.5em;
}

 