body{
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*  ----------------------------------HEADER --------------------------------------- */
.header{
  border-bottom: 1px solid #0085D0;
  display: flex;
  height: 67px;
  justify-content: space-between;
}
.header .logo{
  width: 200px;
  height: 67px;
}
.header .status p{
  margin: 0;
  height: 20px;
}
.header .status img{
  margin-left: 10px;
  height: 20px;
}
.header .status{
  display: flex;
  align-items: center;
}
.header .status .senal{
  display: flex;
}
.header .status .sim{
  display: flex;
}
.header .status .wifi{
  display: flex;
}
.header .sesion{
  display: grid;
  margin-right: 20px;
}
.header .sesion p{
  margin: 0;
  font-size: 15px;
}
.header .sesion .bloque1{
  /* display: flex; */
  align-items: center;
}
.header .sesion .bloque1 .idioma{
  display: inline-block;
}
.header .sesion .bloque1 .logOut{
  display: inline-block;
  margin-left: 5px;
}
.header .sesion .bloque2{
  display: flex;
  align-items: center;
}
.header .sesion .bloque2 .online{
  margin-right: 5px;
  background: rgb(51, 154, 214);
  color: white;
  padding: 4px;
}
/*  ----------------------------------LEFT --------------------------------------- */
.left{
  border-right: 1px solid #0085D0;
  width: 200px;
  height: 100vh;
  display: inline-block;
}
.loginContainer{
  position: relative;
  left: 15px;
  top: 100px;
}
.loginContainer p{
  width: 147px;
  margin: 3px 0;
  font-size: 14.5px;
}
.loginContainer .idioma{
  padding: 2px 0;
  height: 23px;
  width: 147px;
  font-size: 12px;
}
.loginContainer input{
  width: 147px;
  height: 19px;
  margin: 3px 0;
}
.loginContainer button{
  width: 150px;
  margin-top: 2px;
  height: 30px;
}
.left .help{
  position: relative;
  left: 15px;
  top: 160px;
  text-align: center;
  width: 147px;
  background-color: #f90;
  padding: 8px 0;
  cursor: pointer;  
}
.left .text{
  color: #fff;
  font-size: 13px;
  text-decoration: underline;
}
.left .ChangePass{
  position: relative;
  left: 15px;
  top: 180px;
  text-align: center;
  width: 147px;
  background-color: #f90;
  padding: 8px 0;
  cursor: pointer;  
}
/*  ----------------------------------LEFT MENU --------------------------------------- */
.left .menu{
  font-size: 15px;
}
.left .ol{
  margin: 0;
  padding: 0;
}
.left .h3{
  background: #ECECEC;
  font-size: 15px;
  font-weight: normal;
  padding: 10px 5px 10px 15px;
  color: #000;
  margin: 0;
  width: 180px;
  cursor: pointer;
}
.left .li{
  display: none;
  list-style: none;
  color: #0085D0;
  background-color: #ECECEC;  
  border-bottom: 1px dashed #CCC;
  padding: 3px 9px 3px 15px;
  cursor: pointer;
}
.left .menu .li:hover{
  color: #990000;
  background-color: #fff;
}
.left .activLi{
  display: list-item;
}
.left .selectLi{
  background-color: #CADBF0;
}
.left .activOl{
  padding: 0 0 8px 0;
  background: url('../Images/menu.gif') no-repeat bottom; 
}
.left .activH{ 
  color: #fff;
  background: #0099CC;
}
/* --------------MODAL------------------ */
.modal-reinicio{
  position: absolute;
  z-index: 4;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
}
.modal-reinicio .modal-content{
  border: 10px solid #c4c4c4;
  background: #e9e9e9;
  border-radius: 6px;
  width: 776px;
  text-align: center;
  opacity: 1;
  margin: 200px auto;
  position: relative;
  z-index: 6;
}
.modal-reinicio .modal-content .modal-body{
  position: relative;
  padding: 15px;
}
.modal-reinicio .modal-content .modal-body h3{
  font-size: 24px;
  font-weight: 500;
}
.modal-reinicio .modal-content .modal-body .modal-title{
  font-weight: bold;
  background: #D9E5F4;
  width: 100%;
}
.modal-reinicio .modal-content .modal-body .modal-title .title{
  width: 34%;
}
.modal-reinicio .modal-content .modal-body .modal-title .btn{
  float: right;
  margin: 4px;
}
.modal-reinicio .modal-content .modal-body .modal-left{
  font-weight: bold;
  padding: 4px;
  margin: 0;
  text-align: left;
  font-size: 14px;
  width: 200px;
}
.modal-reinicio .modal-content .modal-body .modal-right input{
  float: left;
}
.modal-reinicio .modal-content .modal-body .modal-right span{
  padding-left: 5px;
  color: green;
}
/* -------------------------------------------- */
/* -----------CENTRO------------------- */
/* -------------------------------------------- */
.center{
  display: inline-block;
  width: calc(100% - 230px);
  height: 100%;
  position: absolute;
  top: 85px;
  left: 220px;
}
.hidden{
  display: none;
}
.center .op_center figure{
  margin: 0;
}
.center .op_center .tab_menu{
  padding-left: 5px;
  border-bottom: 1px solid #2E6DB4;
}
.center .op_center .tab_menu .tabs{
  list-style: none;
  height: 23px;
  margin: 0;
  padding: 0;
}
.center .op_center .tab_menu .tabs a{
  color: #27568F;
  background-color: #D9E5F4;
  border: 1px solid #2E6DB4;
  border-bottom: 2px solid #D9E5F4;
  cursor: default;
  padding: 3px 15px;
  text-decoration: none;
  cursor: pointer;
}
.center .op_center .tab_menu_bottom{
  border-top: solid 5px #D9E5F4;
}
.center .op_center .configWifi span{
  padding-left: 5px;
  color: green;
  font-size: 14px;
}