body{
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*  ----------------------------------HEADER --------------------------------------- */
.header{
  border-bottom: 1px solid #0085D0;
  display: flex;
}
.header figure{
  margin: 0;
  height: 67px;
}
.header .logo{
  width: 200px;
  height: 67px;
}
.header .status{
  display: flex;
}
.status p{
  margin: 0;
}
.conect p{
  margin: 0;
}
/*  ----------------------------------LEFT --------------------------------------- */
.left{
  border-right: 1px solid #0085D0;
  width: 200px;
  height: 100vh;
}
.loginContainer{
  position: relative;
  left: 15px;
  top: 100px;

  display: none; /* quitar */
}
.loginContainer p{
  width: 147px;
  margin: 3px 0;
  font-size: 14.5px;

  display: none; /* quitar */
}
.loginContainer .idioma{
  border: 1px solid grey;
  padding: 2px 0;
  height: 23px;
  font-size: 12px;

  display: none; /* quitar */
}
.loginContainer input{
  width: 147px;
  height: 23px;
  margin: 3px 0;

  display: none; /* quitar */
}
.loginContainer button{
  width: 150px;
  margin-top: 2px;
  height: 30px;

  display: none; /* quitar */
}
.left .help{
  position: relative;
  left: 15px;
  top: 160px;
  text-align: center;
  width: 147px;
  background-color: #f90;
  padding: 8px 0;
  cursor: pointer;  

  display: none; /* quitar */
}
.left .text{
  color: #fff;
  font-size: 13px;
  text-decoration: underline;

  display: none; /* quitar */
}
.left .ChangePass{
  position: relative;
  left: 15px;
  top: 180px;
  text-align: center;
  width: 147px;
  background-color: #f90;
  padding: 8px 0;
  cursor: pointer;  

  display: none; /* quitar */
}
/*  ----------------------------------CENTER --------------------------------------- */
.center figure{
  position: absolute;
  top: 64px;
  left: 180px;
}
.hidden{
  display: none;
}
/*  ----------------------------------LEFT MENU --------------------------------------- */
.left .menu{
  font-size: 15px;
}
.left .menu ol{
  margin: 0;
  padding: 0;
}
.left .menu ol h3{
  font-size: 15px;
  font-weight: normal;
  padding: 10px 5px 10px 15px;
  color: #000;
  margin: 0;
  width: 180px;
  cursor: pointer;
}
.left .menu li{
  display: none;
  list-style: none;
  color: #0085D0;
  background-color: #ECECEC;  
  border-bottom: 1px dashed #CCC;
  padding: 3px 4px 3px 15px;
  cursor: pointer;
}
.left .menu li:hover{
  background-color: #CADBF0;
}
.left .menu ol:hover{
  background: url('../Images/menu.gif') no-repeat bottom;
}
.left .menu ol h3:hover{
  color: #fff;
  background: #0099CC;
}