body{
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*  ----------------------------------HEADER --------------------------------------- */
.header{
  border-bottom: 1px solid #0085D0;
  display: flex;
}
.header img{
  margin: 0;
  height: 67px;
}
.header .logo{
  width: 200px;
  height: 67px;
}
.header .logo2{
  width: 85%;
  height: 67px;
}
/*  ----------------------------------LEFT --------------------------------------- */
.left{
  border-right: 1px solid #0085D0;
  width: 200px;
  height: 100vh;
}
.loginContainer{
  position: relative;
  left: 15px;
  top: 100px;
}
.loginContainer p{
  width: 147px;
  margin: 3px 0;
  font-size: 14.5px;
}
.loginContainer .idioma{
  border: 1px solid grey;
  padding: 2px 0;
  height: 23px;
  font-size: 12px;
}
.loginContainer input{
  width: 147px;
  height: 23px;
  margin: 3px 0;
}
.loginContainer button{
  width: 150px;
  margin-top: 2px;
  height: 30px;
}
.left .help{
  position: relative;
  left: 15px;
  top: 160px;
  text-align: center;
  width: 147px;
  background-color: #f90;
  padding: 8px 0;
  cursor: pointer;  
}
.left .text{
  color: #fff;
  font-size: 13px;
  text-decoration: underline;
}
.left .ChangePass{
  position: relative;
  left: 15px;
  top: 180px;
  text-align: center;
  width: 147px;
  background-color: #f90;
  padding: 8px 0;
  cursor: pointer;  
}
/*  ----------------------------------CENTER --------------------------------------- */
.center figure{
  position: absolute;
  top: 64px;
  left: 180px;
}
.hidden{
  display: none;
}
/*  ----------------------------------LEFT MENU --------------------------------------- */
.left .menu{
  font-size: 15px;
}
.left .ol{
  margin: 0;
  padding: 0;
}
.left .h3{
  background: #ECECEC;
  font-size: 15px;
  font-weight: normal;
  padding: 10px 5px 10px 15px;
  color: #000;
  margin: 0;
  width: 180px;
  cursor: pointer;
}
.left .li{
  display: none;
  list-style: none;
  color: #0085D0;
  background-color: #ECECEC;  
  border-bottom: 1px dashed #CCC;
  padding: 3px 9px 3px 15px;
  cursor: pointer;
}
.left .menu .li:hover{
  color: #990000;
  background-color: #fff;
}
.left .activLi{
  display: list-item;
}
.left .selectLi{
  background-color: #CADBF0;
}
.left .activOl{
  padding: 0 0 8px 0;
  background: url('../Images/menu.gif') no-repeat bottom; 
}
.left .activH{ /*cuando este activo*/
  color: #fff;
  background: #0099CC;
}