body{
  margin: 0;
}
.logo{
  margin: 0;
}
.inicio{
  background-color: rgb(147, 194, 250);
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  height: 24px;
  padding-top: 3px;
}
.inicio figure{
  margin: 0;
  padding-right: 20px;
}
.inicio span{
  color: #990000;
  padding-right: 20px;
}
.login{
  color: #333333;
}
.containerPpal{
  max-width: 900px;
  width: 841px;
  margin: auto;
}
.button{
  margin: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
}
.iframeCenter{
  width: 100%;
  height: 100vh;
}
.container{
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 180px 120px;
  grid-template-areas: 	"prInternet configLTE"
                        "parLan configLTE"
                        "DtVersion recursos";
  max-width: 100%;
  height: 100vh;
  grid-row-gap: 10px;
  grid-column-gap: 40px;
  position: relative;
  overflow: none;
}
.container .title{
  font-size: 9pt;
  color: #F20000;
  margin: 0;
}
.prInternet{
  grid-area: prInternet;
}
.configLTE{
  grid-area: configLTE;
}
.parLan{
  grid-area: parLan;
}
.DtVersion{
  grid-area: DtVersion;
}
.recursos{
  grid-area: recursos;
}
.infoPpal{
  border: 1px solid grey;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.col1{
  width: 40%
}
.col1 p, .col2 p{
  margin: 2px;
  padding: 2px;
  background: rgb(147, 194, 250);
}
.col2{
  width: 60%
  }