#power{
  position: absolute;
  width: 31px;
  height: 34px;
  top: 87px;
  left: 261px;
  cursor: pointer;
  /* border: 1px solid red; */
}
#Wifi-2-4G{
  position: absolute;
  width: 31px;
  height: 34px;
  top: 87px;
  left: 302px;
  cursor: pointer;
  /* border: 1px solid red; */
}
#WiFi-5G{
  position: absolute;
  width: 31px;
  height: 34px;
  top: 87px;
  left: 344px;
  cursor: pointer;
  /* border: 1px solid red; */
}
#lan{
  position: absolute;
  width: 31px;
  height: 34px;
  top: 87px;
  left: 384px;
  cursor: pointer;
  /* border: 1px solid red; */
}
#internet{
  position: absolute;
  width: 31px;
  height: 34px;
  top: 87px;
  left: 422px;
  cursor: pointer;
  /* border: 1px solid red; */
}
#senal{
  position: absolute;
  width: 31px;
  height: 34px;
  top: 87px;
  left: 462px;
  cursor: pointer;
  /* border: 1px solid red; */
}
#senal1{
  position: absolute;
  width: 31px;
  height: 34px;
  top: 87px;
  left: 500px;
  cursor: pointer;
  /* border: 1px solid red; */
}
#senal2{
  position: absolute;
  width: 31px;
  height: 34px;
  top: 87px;
  left: 535px;
  cursor: pointer;
  /* border: 1px solid red; */
}
#senal3{
  position: absolute;
  width: 31px;
  height: 34px;
  top: 87px;
  left: 570px;
  cursor: pointer;
  /* border: 1px solid red; */
}
#senal4{
  position: absolute;
  width: 31px;
  height: 34px;
  top: 87px;
  left: 603px;
  cursor: pointer;
  /* border: 1px solid red; */
}
/* ---------------------------------------------------------
------------------------ATRAS----------------------------
--------------------------------------------------------- */
#energia{
  position: absolute;
  width: 39px;
  height: 51px;
  top: 353px;
  left: 194px;
  cursor: pointer;
  /* border: 1px solid red; */
}
#wps{
  position: absolute;
  width: 39px;
  height: 22px;
  top: 352px;
  left: 240px;
  cursor: pointer;
  /* border: 1px solid red; */
}
#reset{
  position: absolute;
  width: 39px;
  height: 22px;
  top: 378px;
  left: 240px;
  cursor: pointer;
  /* border: 1px solid red; */
}
#lan1atras{
  position: absolute;
  width: 39px;
  height: 51px;
  top: 348px;
  left: 291px;
  cursor: pointer;
  /* border: 1px solid red; */
}
#lan2atras{
  position: absolute;
  width: 39px;
  height: 51px;
  top: 347px;
  left: 334px;
  cursor: pointer;
  /* border: 1px solid red; */
}
/* ---------------------------------------------------------
------------------------ABAJO----------------------------
--------------------------------------------------------- */
#sim{
  position: absolute;
  width: 134px;
  height: 61px;
  top: 188px;
  left: 132px;
  cursor: pointer;
  /* border: 1px solid red; */
}