@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?j8gw2p');
  src:  url('fonts/icomoon.eot?j8gw2p#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?j8gw2p') format('truetype'),
    url('fonts/icomoon.woff?j8gw2p') format('woff'),
    url('fonts/icomoon.svg?j8gw2p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-play:before {
  content: "\ea1c";
  font-size: 10px;
  padding: 0 20px 0 7px;
}
.icon-ctrl-left:before {
  content: "\ea50";
  color: white;
}
.icon-ctrl-down:before {
  content: "\ea51";
}


body{
  margin: 0 auto;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}
.container{
  background: #F1F1F1;
}
.header{
  height: 62px;
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid #e1e1e1;
  background: linear-gradient(to bottom, #fbfbfb 0%,#e9e9e9 100%);
}
.header .logo{
  display: flex;
}
.header .logo .dtv{
  width: 200px;
  height: 43px;
  padding-top: 14px;
}
.header .logo p{
  color: #1b2c5d;
  padding-top: 19px;
}
.header .logo .signal{
  margin-top: 20px;
  width: 47px;
  height: 45px;
  background-image: url(../img/icons/Signal.png);
  background-position: bottom;
  background-repeat: no-repeat;
}
.header .logo .wifi2{
  margin-top: 20px;
  width: 33px;
  height: 35px;
  background-image: url(../img/icons/WifiStatus.png);
  background-position-y: -62px;
  background-position-x: 1px;
  background-repeat: no-repeat;
}
.header .logo .wifi5{
  margin-top: 20px;
  width: 33px;
  height: 35px;
  background-image: url(../img/icons/WifiStatus.png);
  background-position-y: -94px;
  background-position-x: 1px;
  background-repeat: no-repeat;
}

.header .login{
  display: flex;
  justify-content: space-evenly;
  width: 190px;
  align-items: center;
}
.header .login p{
  display: flex;
  font-size: 11px;
  color: #1b2c5d;
}
/* ----------------------------------------------------------- */
/* -----------------------FIN DE HEADER----------------------- */
/* ----------------------------------------------------------- */
/* -------------------------INICIO LEFT----------------------- */
/* ----------------------------------------------------------- */
.left{
  position: relative;
  width: 18%;
  height: 100%;
  background: #1B2C5D;
  display: inline-block;
}
.left ol{
  padding: 0;
  margin: 0;
}
.nivel1{
  margin: 0;
  color: #ebd4d4;
  cursor: pointer;
  position: relative;
  padding: 5px 10px 4px 4px;
}
.left .nivel1 .cont{
  height: 100%;
}
.left .nivel1:hover{
  background-color: #00aeef;
}
.nivel1 .text{
  margin: 0;
  display: inline-block;
  position: absolute;
  top: 10px;
}
.icon-ctrl-left{
  float: right; 
  position: relative;
  top: 5px;
}
.icon-play{
  position: relative;
}

li{
  list-style: none;
}
.nivel2{
  margin: 0;
  padding: 10px 10px 10px 10px;
  color: #ffffff;
  cursor: pointer;
}
.nivel2 p{
  margin: 0;
}
.nivel3{
  margin: 0;
  padding: 20px 10px 10px 19px;
  color: #ffffff;
  cursor: pointer;
}
.hidden{
  display: none;
}
.select{
  color: #00aeef;
}
/* ----------------------------------------------------------- */
/* -------------------------FIN DE LEFT----------------------- */
/* ----------------------------------------------------------- */
/* -----------------------INICIO CENTRO----------------------- */
/* ----------------------------------------------------------- */
.centro{
  width: 82%;
  display: inline-block;
  position: absolute;
  top: 67px;
}
.centro .intro img{
  width: 100%;
}
.centro .WifiAjustes{
  padding-top: 17px;
}
.centro .WifiAjustes5G{
  padding-top: 17px;
}
.centro h1{
  margin: 0;
  margin-left: 5%;
  font-size: 18px;
  color: gray;
  font-weight: 500;
}
.centro .container .bloque{
  width: 450px;
  border: 2px solid #00aeef;
  border-radius: 7px;
  display: inline-grid;
  margin-left: 58px;
}
.centro .bloque table{
  width: 100%;
  border-spacing: 0;
}
.centro .bloque .table-title{
  background: #00aeef;
  height: 30px;
  color: white;
  text-align: left;
  padding-left: 15px;
}
.centro .bloque .table-subtitle{
  padding-left: 10px;
  font-size: 14px;
}
.centro .bloque tr{
  height: 40px;
}
.centro .bloque .option{
  border: 1px solid grey;
  border-radius: 4px;
  height: 33px;
  padding: 0 0 0 10px;
  width: 95%;
}
.centro .bloque .option2{
  border: 1px solid grey;
  border-radius: 4px;
  height: 33px;
  padding: 0 0 0 10px;
  width: 90%;
}
.centro .bloque .table-left{
  width: 40%;
  padding-left: 10px;
  font-size: 12px;
  font-weight: 600;
}
.centro .bloque .table-right{
  width: 60%;
}
.centro .bloque button{
  border: 1px solid gray;
  border-radius: 4px;
  padding: 7px;
  cursor: pointer;
}
.centro .bloque .active{
  background: #00aeef;
  color: white;
}
.centro .configWan{
  padding-top: 17px;
}