/*++++++++++++++++++++++ MODEM DE FRENTE +++++++++++++++*/

#power{
  position:absolute;
  width:51px;
  height:17px;
  top:270px;
  left:395px;
  
}

#power{
	position:absolute;
	width:51px;
  height:17px;
	top:270px;
	left:364px;

}

#wifi{
	position:absolute;
	width:51px;
  height:17px;
	top:270px;
	left:395px;

}

#senal{
	position:absolute;
	width:51px;
    height:17px;
	top:270px;
	left:426px;

}

.red-tooltip + .tooltip > .tooltip-inner {background-color: #f00;}
.red-tooltip + .tooltip > .tooltip-arrow { border-bottom-color:#f00  !important;
}

.encendido
{ 
	color:#5AE816;
}

#atras{
	color:black !important;
	text-decoration: none !important;
	background-color: red;
}


/*+++++++++++++++++*/
#reset
{
  position:absolute;
  width:51px;
  height:17px;
  top:160px;
  left:64px;
}

#enchufe{
  position:absolute;
  width:51px;
  height:17px;
  top:160px;
  left:100px;

}

#onoff
{
  position:absolute;
  width:51px;
  height:17px;
  top:160px;
  left:135px;
}

#lan1atras{
  position:absolute;
  width:51px;
  height:17px;
  top:160px;
  left:189px;

}

#lan2atras{
  position:absolute;
  width:51px;
  height:17px;
  top:160px;
  left:239px;

}

#lan3atras{
  position:absolute;
  width:51px;
  height:17px;
  top:160px;
  left:287px;

}

#lan4atras{
  position:absolute;
  width:51px;
  height:17px;
  top:160px;
  left:336px;

}

#wanatras{
  position:absolute;
  width:51px;
  height:17px;
  top:160px;
  left:393px;

}

#wps2{
  position:absolute;
  width:51px;
  height:17px;
  top:160px;
  left:443px;

}